body {
    font-size: 16px;
    font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    font-size: 16px;
    color: white;
}

a:hover,
a:focus {
    color: white;
}

.white {
    color: white;
}

.gray,
.gray:hover,
.gray:focus {
    color: #333;
}

.light-gray,
.light-gray:hover,
.light-gray:focus {
    color: #676666;
}

.top_section {
    background: #2b2e31;
}

.top_menu ul {
    margin-bottom: 0px;
}

.top_menu li {
    list-style-type: none;
    float: left;
    padding: 10px 40px 10px 0px;
}

.header_img img {
    width: 100%;
}

.header_content {
    position: relative;
}

.header_cart {
    position: absolute;
    z-index: 100;
    right: 40px;
    top: 20px;
}

.header_cart img {
    width: 330px;
}

.cart_text {
    position: absolute;
    z-index: 200;
    font-style: italic;
    color: white;
}

.cart_header {
    right: 90px;
    top: 46px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.cart_count {
    left: 40px;
    top: 99px;
}

.cart_price {
    left: 135px;
    top: 99px;
}

.footer_section {
    height: 100px;
    background-color: #2b2e31;
}

.main_menu ul {
    margin: 0px;
    padding: 0px;
}

.main_menu li {
    list-style-type: none;
}

.main_menu a {
    display: block;
    background: #2b2e31;
    padding: 16px 40px;
    color: white;
    transition: 0.1s;
}

.main_menu a:hover,
.main_menu a:focus {
    background: #ed1c24;
}

.content_section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.product_img {
    position: relative;
}

.product_img img {
    width: 100%;
}

.product_background {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: 0.2s;
}

.product_button_container {
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: 0.2s;
}

.product_more_info {
    margin: 50px 0px;
    color: white;
}

.button {
    padding: 5px 20px;
    transition: 0.2s;
}

.button-red {
    background: #ed1c24;
    color: white;
    border: 2px solid#fff;
}

.button-red:hover,
.button-red:focus {
    background: #ef3a41;
}

.button-blue {
    background: #00bcd4;
    color: white;
    border: 0px solid;
    padding: 5px 20px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.button-blue:hover,
.button-blue:focus {
    background: #66D7E5;
}

.product_block:hover .product_button_container {
    opacity: 1;
}

.product_block:hover .product_background {
    opacity: 0.4;
}

.product_header {
    margin-top: 5px;
}

.filters_block {
    background: #2b2e31;
    margin-bottom: 30px;
    padding: 10px 30px;
}

.filter_line {
    display: inline-block;
    padding-right: 20px;
}

.cart_section {
    margin-bottom: 40px;
    margin-top: 40px;
}

.card_img img {
    width: 100%;
}

.cart_img img {
    height: 100px;
}

.admin_top_section {
    background: #00bcd4;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.toolbar {
    background-color: rgb(232, 232, 232);
    padding: 10px;
    margin: 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

.button-toolbar {
    color: #757575;
    margin-right: 10px;
    background: #e8e8e8;
    border: 0px;
}

.button-toolbar:hover,
.button-toolbar:focus {
    color: black;
}

.header_gray {
    font-size: 25px;
    color: #757575;
    margin-top: 15px;
    margin-left: 25px;
}

.button-toolbar-right {
    float: right;
    margin: 0;
    margin-left: 10px;
}